<% item_completion = @todo_list.item_completition %>
<div class="progress">
	<div id="progress-status" role="progressbar" aria-valuenow="<%= item_completion %>" aria-valuemin="0" aria-valuemax="100" >
	</div>
	<script type="text/javascript">
		$(function() {
			$("#progress-status")
			.css("width", "<%= item_completion %>%")
			.text("<%= item_completion %>%");
		});
	</script>
</div>
