/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
*= require material_icons
*/
@import "font-awesome-sprockets";
@import "font-awesome";


 $white_opaque: rgba(250, 250, 250, .3);
 $dark: #1F7972;

* {
 	box-sizing: border-box;
}
html {
	height: 300%;
}

body {
	height: 100%;
	background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:    -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:     -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:      -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background:         linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	font-family: 'Lato', sans-serif;
}
form {
	margin-top: 2em;
	padding: 0 5%;
}
h1 {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
}
h2 {
	text-align: center;
	font-weight: 700;
	font-size: 2.0rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
	text-align: center;
	font-size: 1.0em;
	color: $dark;
	font-weight: 100;
}
#alert {
	text-align: center;
	font-size: 1.0em;
	color: #e22626;
	font-weight: 100;
}

.container {
	width: 70%;
	max-width: 900px;
	background: $white_opaque;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}

.todo_list_title {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
	a {
		text-decoration: none;
		color: white;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.todo_list_sub_title {
	margin: 0 0 3em 0;
	text-align: center;
	font-size: 0.9em;
	color: $dark;
	font-weight: 100;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

#todo_items_wrapper {
	.row {
		width: 100%;
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
		.complete {
			width: 5%;
			float: left;
			text-align: center;
			border-right: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		.todo_item {
			width: 85%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 100;
			}
		}
		.priority {
			width: 5%;
			float: left;
			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 100;
				border-right: 1px solid rgba(250,250,250, .3);
			}
		}
		.trash {
			width: 5%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		i {
			color: white;
			transition: all .4s ease-in-out;
			&:hover {
				color: $dark;
			}
		}
	}
	#form {
		margin-top: 2em;
		padding: 0 5%;
		input[type="text"] {
			width: 70%;
			display: inline-block;
			outline: none;
			background: rgba(250,250,250,.4);
			border: none;
			height: 40px;
			border-radius: 4px;
			padding: 1em 2em;
		}
		input[type="submit"] {
			background: rgba(250,250,250,.4);
			outline: none;
			border: none;
			height: 40px;
			border-radius: 4px;
			display: inline-block;
			transition: all .4s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $dark;
			}
		}
		::-webkit-input-placeholder { color: $dark; }
	}
}
.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 1.0em;
	color: white;
	a {
		color: white;
	}
}
select {
	background: rgba(250, 250, 250, 0.4);
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 12%;
	padding: 1px 6px;
	color: #1F7972;
}
select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

.forms {
	padding: 0 5%;
}
label {
	color: $dark;
}
input[type="text"], textarea {
	width: 100%;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}
input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: $dark;
	&:hover {
		background: $dark;
		color: white;
	}
}
input[type="email"] {
	width: 100%;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
	margin-bottom: 10px;
}
input[type="password"] {
	width: 100%;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
	margin-bottom: 10px;
}
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}
textarea {
	height: 200px;
}
.field {
	text-align: left;
    padding: 2px;
    margin: 2px;
    border-radius: 6px;
}
.actions {
	margin: 2px;
	padding: 2px;
}
#error_explanation {
	h2 {
		text-align: center;
		font-weight: 700;
		font-size: 1.0rem;
		text-transform: uppercase;
		color: white;
		margin: 0;
	}
}
.logout {
	text-align: right;
	color: white;
	a {
		color: white;
		text-decoration: underline;
	}
}
::-webkit-input-placeholder { color: $dark; }
#progress-status {
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #1f7972;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    transition: width 0.6s ease;
}

@import "bootstrap-sprockets";
@import "bootstrap";